!!!
html(ng-app="gogeo-devguide")
  head
    meta(charset='utf8')
    base(href='/')
    title goGeo - Developer Guide
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/leaflet.css')
  body
    block body