/* app css stylesheet */

body {
  padding-top:70px;
}

#legend-div {
  background-color: white;
  opacity: 0.9;
  position: absolute;
  z-index: 1000;
  right: 0;
  bottom: 0;
  /*width: 200px;*/
  height: 130px;
}

#legend .legend-title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 90%;
}

#legend .legend-scale ul {
  padding: 5px;
  float: left;
  list-style: none;
}

#legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

#legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}